.DS_Store
**/.idea
.dart_tool/
.fvm/
.vscode/settings.json
*.log
**/build
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/bin
**/obj
*.user
*.mocks.*

docs/*
!docs/*.png
!docs/ShotFlow.tex
!docs/ShotFlow.pdf